body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: small;
    background: url("http://goo.gl/0V4RGF") no-repeat fixed;
}

h1 {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

h4 {
    text-align: center;
}

ul {
    list-style-type: circle;
}

table.tabel1 {
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 5px solid black;
    width: 200px;
    text-align: center;
    padding: 10px;
}

tr{
    height: auto;
}

.floating-box_tabel1 {
    display: inline-block;
    float: right;
    padding-right: 180px;
}

.floating-box_listid {
    padding-left: 180px;
    padding-top: 20px;
    float: left;
}

img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: solid 8px #2E0F00;
    padding: 1px;
}

footer {
    padding: 30px;
}