body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: small;

}

h3 {
    text-align: left;
}

ul {
    list-style-type: circle;
}

table.center {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 900px;
}

td {
    border: 5px solid black;
    width: 300px;
    text-align: center;
    padding: 10px;
}

tr{
    height: auto;
}

img {
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border: solid 8px #2E0F00;
    padding: 2px;
}